## Import Requirements and Datasets

In [3]:
# requirements
import pandas as pd
from pandas_profiling import ProfileReport

In [5]:
# dataset 1
df_data = pd.read_csv('original_datasets/data.csv')
df_data.head()

,Date,Selina,Sub Category,Capacity,Out of Order,Available Beds,Sold Beds,Room Revenue USD,Food and Beverage Revenue,Activities Revenue,Co-Working Revenue,Average Guest Review
0,2017-12-01,San Jose,Dorm,86,1,85,65,1170.0,341.640,179.010,79.560,8.755
1,2017-12-01,Medellin,Dorm,215,25,190,91,1820.0,373.100,274.820,72.800,8.787
2,2017-12-01,Jaco,Dorm,118,2,116,55,880.0,289.520,100.320,23.760,8.780
3,2017-12-01,Bocas del Toro,Dorm,154,2,152,108,1728.0,618.624,390.528,164.160,8.689
4,2017-12-01,Red Frog,Dorm,24,1,23,17,255.0,91.545,44.880,20.655,8.754

In [7]:
# dataset 2
df_op_dates = pd.read_csv('original_datasets/opening_dates.csv')
df_op_dates.head()

           Selina Selina Country Selina Opening Date
0           Venao         Panama          2014-08-01
1  Bocas del Toro         Panama          2014-12-01
2          Pedasi         Panama          2016-03-01
3        San Jose     Costa Rica          2016-11-01
4        Red Frog         Panama          2016-11-01

## Assessing

### Visual Assessment:

- Contains Selinas that opened outside of Q4 2017-2018 date range (ref. opening dates):
    - Are all Selina's listed considered "newly opened" and we're simply analyzing their 2018 performance?
    - Or do we remove all Selinas that opened prior to the data collection period?
- Missing columns:
    - Total revenue
    - Selina's KPIs
- Some Selina's are missing chunks of data for certain bed types and some are missing individual rows of data for certain bed types:
    - Does this mean Selina didn't have this bed type available?
    - Or maybe this bed type wasn't booked for that day?
- Column names not in snake_case

### Programmatic Assessment

In [10]:
# df_data.info()