## Import Requirements and Master Dataset

In [1]:
# requirements
import numpy as np
import pandas as pd
import os
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# double check master dataset file name
os.listdir('clean_datasets/')

['.DS_Store',
 'opening-dates-clean-v1.csv',
 'data-clean-v2.csv',
 'data-clean-v1.csv']

In [3]:
# dataset 1
df = pd.read_csv('clean_datasets/data-clean-v2.csv')
df.head()

,date,selina,selina_country,selina_opening_date,month_of_opening,year_of_opening,sub_category,capacity,out_of_order,available_beds,sold_beds,occupancy_rate,room_revenue_usd,food_and_beverage_revenue,activities_revenue,co_working_revenue,total_revenue,trevpob,average_guest_review
0,2017-12-01,San Jose,Costa Rica,2016-11-01,11,2016,Dorm,86,1,85,65,0.764706,1170.0,341.640,179.010,79.560,1770.210,27.234,8.755
1,2017-12-01,Medellin,Colombia,2017-06-01,6,2017,Dorm,215,25,190,91,0.478947,1820.0,373.100,274.820,72.800,2540.720,27.920,8.787
2,2017-12-01,Jaco,Costa Rica,2017-06-01,6,2017,Dorm,118,2,116,55,0.474138,880.0,289.520,100.320,23.760,1293.600,23.520,8.780
3,2017-12-01,Bocas del Toro,Panama,2014-12-01,12,2014,Dorm,154,2,152,108,0.710526,1728.0,618.624,390.528,164.160,2901.312,26.864,8.689
4,2017-12-01,Red Frog,Panama,2016-11-01,11,2016,Dorm,24,1,23,17,0.739130,255.0,91.545,44.880,20.655,412.080,24.240,8.754

### Re-Convert Dtypes Lost in .csv Files:

#### Code:

In [4]:
# datetime
df.date = pd.to_datetime(df.date)

# categorical
columns_to_convert_to_cat = ['selina', 'selina_country', 'month_of_opening', 'year_of_opening']

for column in columns_to_convert_to_cat:
    df[column] = pd.Categorical(df[column])

#### Test:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19077 entries, 0 to 19076
Data columns (total 19 columns):
date                         19077 non-null datetime64[ns]
selina                       19077 non-null category
selina_country               19077 non-null category
selina_opening_date          19077 non-null object
month_of_opening             19077 non-null category
year_of_opening              19077 non-null category
sub_category                 19077 non-null object
capacity                     19077 non-null int64
out_of_order                 19077 non-null int64
available_beds               19077 non-null int64
sold_beds                    19077 non-null int64
occupancy_rate               19077 non-null float64
room_revenue_usd             19077 non-null float64
food_and_beverage_revenue    19077 non-null float64
activities_revenue           19077 non-null float64
co_working_revenue           19077 non-null float64
total_revenue                19077 non-null float64
trevpob                      19077 non-null float64
average_guest_review         19077 non-null float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(4), object(2)
memory usage: 2.3+ MB